@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

/* .playground {
  display: flex;
  flex-direction: column;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  --banner-theme: #1f2937;
  --primary-theme: #f9faf8;
  --secondary-theme: #3882f6;
}

section {
  padding: 3vh 5vh;
}

header,
.banner,
footer {
  background-color: var(--banner-theme);
  color: var(--primary-theme);
}

.ads__banner,
button {
  background-color: var(--secondary-theme);
  color: #fff;
  font-weight: bold;
}

button {
  border: none;
  padding: 0.75em 1.25em;
  border-radius: 8px;
  font-size: 1em;
}

button:hover {
  cursor: pointer;
}

img {
  width: 100%;
  max-height: 80vh;
  object-fit: cover;
}

/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12vh;
  padding: 0 5vh;
}

header a {
  color: var(--primary-theme);
  text-decoration: none;
}

.logo {
  cursor: default;
  font-size: 1.5em;
  font-weight: 800;
}

.nav-bar {
  display: none;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.nav-links a:hover {
  text-decoration: underline;
  text-underline-offset: 0.75em;
}

nav.hamburger .nav-links a:hover {
  font-size: 1.1em;
  text-decoration: none;
}

nav.hamburger {
  display: block;
  background: rgba(78, 96, 120, 0.8);
  border-radius: 15px;
  padding: 1.25em 1.5em;
  right: 6%;
  top: 12%;
  position: absolute;
  width: 160px;
}

nav.hamburger + .hamburger.active .hamburger__line:first-child {
  transform: rotate(45deg) translate(5px, 5px);
}

nav.hamburger + .hamburger.active .hamburger__line:last-child {
  transform: rotate(-45deg) translate(5px, -5px);
}

nav.hamburger + .hamburger.active .hamburger__line:nth-child(2) {
  opacity: 0;
}

.hamburger {
  cursor: pointer;
}

.hamburger__line {
  width: 1.5em;
  height: 2px;
  border-radius: 5px;
  background-color: var(--primary-theme);
  margin: 0.3em;
}

/* Banner */

.banner img {
  margin-block: 2em;
}

.banner__title h1 {
  font-weight: 600;
  font-size: 1.5em;
}

.banner__title p {
  margin-block: 0.5em 1.5em;
}

/* Information */

.information {
  text-align: center;
}

.information h2 {
  color: var(--banner-theme);
  margin-block: 1.25em 0.25em;
}

.information__gallery-img {
  margin-block: 2em 1em;
}

/* Testimonial */

.testimonial {
  text-align: center;
  background-color: var(--primary-theme);
}

blockquote {
  font-size: 1em;
  margin: 1.5em 2em;
  font-style: italic;
}

blockquote + h3 {
  font-size: 1em;
  margin-block: 1em;
}

/* Ads */

.ads {
  padding: 0;
}

.ads__banner {
  margin: 2em;
  padding: 1.5em 2em;
  border-radius: 10px;
  text-align: center;
}

.ads__headline p {
  margin-block: 0.5em 1em;
  font-weight: 400;
}

.ads button {
  border: 2px solid whitesmoke;
  border-radius: 15px;
}

footer p {
  text-align: center;
}

footer {
  padding: 2em;
}

/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 40em) {
  .ads__banner {
    display: flex;
    text-align: left;
    align-items: center;
    gap: 1em;
    justify-content: space-between;
  }

  .ads__headline {
    max-width: 75%;
  }

  .ads__headline p {
    margin-block: 0.1em 0;
  }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {
  header {
    height: 20vh;
    padding: 0 8vh;
  }

  section {
    padding: 3vh 8vh;
  }

  .banner {
    padding-block: 0 3vh;
  }

  .hamburger {
    display: none;
  }

  .nav-bar {
    display: block;
  }

  .nav-links {
    flex-direction: row;
    padding: 0;
    gap: 2em;
  }

  .nav-links {
    gap: 2em;
  }
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {
  .banner {
    height: 80vh;
  }

  .logo {
    font-size: 2em;
  }

  .nav-bar,
  .testimonial,
  .banner__title,
  .information__gallery-img,
  .ads__banner,
  footer {
    font-size: 1.25em;
  }

  .banner {
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 4em;
  }

  .banner img {
    max-height: 60vh;
    margin-block: 2em;
  }

  .information {
    height: 100vh;
  }

  .information h2 {
    font-size: 2em;
  }

  .information__gallery {
    display: flex;
    gap: 2em;
  }

  .information__gallery-img {
    flex: 1;
  }

  .information__gallery-img img {
    height: 60vh;
  }

  .ads__banner {
    margin: 5% 10%;
    padding: 2em 2.5em;
  }

  .ads__headline {
    max-width: 70%;
  }

  .ads__headline p {
    line-height: 1.75em;
  }

  blockquote {
    margin: 1.5em 6%;
  }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 80em) {
}
